@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  background-color: #a8dadc;
  font-family: "Caveat", cursive;
  width: 100%;
}

.logo {
  max-height: 75px;
}
