.imageTile {
  display: flex;
  max-height: 300px;
  max-width: 500px;
  display: block;
  margin: auto;
  /* padding-top: 50px; */
}

.imageContainer {
  max-height: 600px;
  max-width: 500px;
  margin: auto;
  padding: 3rem 3rem 1rem;
  text-align: center;
  /* font-family: 'Roboto', sans-serif; */
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
}

.Section4 {
  background-image: linear-gradient(60deg, #ffffff 0%, #a8dadc 100%);
}

.Center h3 {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}