.imageTile {
  display: flex;
  max-height: 300px;
  max-width: 500px;
  display: block;
  margin: auto;
  padding-top: 50px;
}

.imageContainer {
  max-height: 600px;
  max-width: 500px;
  margin: auto;
  padding: 50px 50px;
  text-align: center;
}
