.gallery {
  max-width: 100%;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.moment-card {
  border: 1px solid black;
  border-radius: 2rem;
  margin: 2.5rem;
  padding: 2rem;

  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 100px 300px;
  gap: 0px 0px;
  grid-template-areas:
    "moment-text"
    "moment-image";
}

.moment-image {
  grid-area: moment-image;
  width: 300px;
  height: 300px;
}

.moment-text {
  grid-area: moment-text;
  border-bottom: 1px dotted grey;
  width: 100%;
}

.moment-card > h1, h2, h3, h4, h5 {
  font-weight: 200;
  font-size: 20px;
  margin: 0.25rem;
}