.AuthPage {
    background-image: linear-gradient(to right, #a8dadc, #bae0ea, #cde6f3, #e0ecf8, #f0f3fb, #f0f3fb, #f0f3fb, #f0f3fb, #e0ecf8, #cde6f3, #bae0ea, #a8dadc);
    /* padding-top: 4rem; */
}

.AuthListGrid {
    display: grid;
    grid-template-columns: repeat(1, minmax(320px, 1fr));
    grid-gap: 2rem;
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 8rem;
    padding-bottom: 8rem;
    }

.AuthListBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AuthListImage {
    max-height: 500px;
    max-width: 500px;
}

.AuthListText {
    max-height: 500px;
    max-width: 500px;
    margin: 2rem;
}

.AuthListGrid p {
    font-size: 1.3rem;
}