body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fredoka+One&family=Roboto&display=swap');
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tester {
  background-color: red;
}
.Center {
  text-align: center;
  margin: auto;
  max-width: 400px;
}