[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
djangorestframework = "*"
django-cleanup = "*"
django-rest-knox = "*"
drf-yasg = "*"

[dev-packages]

[requires]
python_version = "3.9"
