.entry-title {
    display: block;
    margin: none;
    margin-top: 1rem;
    width: 29rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #f1faee;
    transition: background 1s ease;
    font-size: 1.4rem;
}

.entry-title:hover {
    background-color: #c4edee;
}

.entry-body {
    display: block;
    text-align: left;
    margin: 1rem 0 1rem 0;
    height: 20rem;
    width: 29rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: #f1faee;
    transition: background 1s ease;
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
}

.guided-prompt {
    text-align: center;
    font-size: 1.3rem;
    margin: 1rem 0.5rem 0 0.5rem;
}

.entry-body:hover {
    background-color: #c4edee;
}

.entry-attach {
    margin-bottom: 1rem;
    cursor: pointer;
}

.journal-entry {
    align-items: center;
    background-color: pink;
    border: 2rem;
}