.closeModalIcon {
    cursor: pointer;
    max-height: 50px;
    color: red;
}

.modal-form {
    text-align: center;
    display: block;
    margin: auto;
    margin-top: 1rem;
    width: 15rem;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    background-color: var(--blue);
    transition: background 1s ease;
    font-size: 1rem;
    color: white;
}

.modal-form::placeholder {
    color: white;
}

.modal-form:hover {
    background-color: var(--red);
}

.modal-title {
    text-align: center;
    font-size: 1.5rem;
}

.modal-heading {
    text-align: center;
    padding: 1rem 0rem 1rem 0rem;
}

.formButton { 
    margin: auto;
    display: flex;
}

.formButton .btn--red {
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 2rem;
    /* transition: transform .2s ease-in-out; */
}

.formButton .btn--red:hover {
    transform: scale(1.2);
    transition: background 0.5s ease-out, color 0.5s ease-out;
}